<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasySaveWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasySaveWPF.Theme.Theme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasySaveWPF.Resources.TranslationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasySaveWPF.Resources.Translation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasySaveWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasySaveWPF.Properties.Settings>
            <setting name="LogFilePath" serializeAs="String">
                <value>.\Log.json</value>
            </setting>
            <setting name="LogType" serializeAs="String">
                <value>json</value>
            </setting>
            <setting name="BusinessSoftwarePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FilesToEncrypt" serializeAs="String">
                <value />
            </setting>
            <setting name="PriorityFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxFileSize" serializeAs="String">
                <value>0</value>
            </setting>
        </EasySaveWPF.Properties.Settings>
        <EasySaveWPF.Theme.Theme>
            <setting name="selectedTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </EasySaveWPF.Theme.Theme>
        <EasySaveWPF.Resources.TranslationSettings>
            <setting name="LanguageCode" serializeAs="String">
                <value>fr-FR</value>
            </setting>
        </EasySaveWPF.Resources.TranslationSettings>
        <EasySaveWPF.Resources.Translation>
            <setting name="LangCode" serializeAs="String">
                <value>en-EN</value>
            </setting>
        </EasySaveWPF.Resources.Translation>
    </userSettings>
    <applicationSettings>
        <EasySaveWPF.Properties.Settings>
            <setting name="JobsFilepath" serializeAs="String">
                <value>.\Status.json</value>
            </setting>
        </EasySaveWPF.Properties.Settings>
    </applicationSettings>
</configuration>